body {
  background-color: black;
}

section {
  border-radius: 2px;
  border-color: blueviolet;
  padding: 12px;
}

section h1 {
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
}

.description {
  background-color: rgb(24, 2, 44);
  border-radius: 20px;
  width: 800px;
  padding: 30px;
  margin-bottom: 40px;
}

.list {
  list-style-type: none;
  font-size: 16px;
}

.path {
  display: inline-flex;
  border-radius: 20px;
  color: white; 
}

.path h3 {
  margin-right: 20px;
}

.path div {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 500px;
}

.path strong {
  margin-right: 10px;
}

.summary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.description h2 {
  text-align: left;
}

.schema {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 20px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.model {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.code {
  font-size: 14px;
  line-height: 5px;
}

.property {
  color: rgb(99, 199, 233);
  display: inline;
}

.validators {
  color: rgb(197, 86, 42);
  text-indent: 20px;
}

.schema li {
  list-style-type: none;
}