body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

section {
  text-align: center;
  border-radius: 2px;
  border-color: blueviolet;
  padding: 12px;
}

section h1 {
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
}

section p {
  font-size: 12px;
}